<h1>Products#index</h1>

<% @products.each do |product| %>
<div class="picturecard">
<br>
  <li class="title"><%= product[:name] %></li>
  <li class ="author"><%= product[:description] %></li>
  <li class ="author"><%= product[:price_in_cents] %></li>
 </div>
 
<% end %>
